
@{
    ViewBag.Title = "Numero de serviços do Técnico";
}

<h2>Número de serviços do Técnico</h2>

@Html.Raw(ViewBag.melhor.nome)
<br />
@Html.Raw(ViewBag.melhor.valor)
<br />
@Html.Raw(ViewBag.melhor.n_servicos)


