@{
    ViewBag.Title = "About";
}
<br/>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Este site é para as pessoas conseguirem de uma maneira um pouco mais organizada exporem o que necessitam para os técnicos ajudarem.</p>
