@{
    ViewBag.Title = "Contactos";
}
<br/>
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    ESEN VISEU<br />
    RUA DA COMERCIAL Nº1<br />
    <abbr title="Phone">P:</abbr>
    911 833 221
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Support@example.com">FabioServicos@gmail.com</a>
</address>